// layout

.lp {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--almost-white-color);
  min-width: var(--page-min-width);
  max-width: var(--page-max-width);

  // ul - lp__section-two
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  // li - lp__section-two
  &__list-item {
    list-style: none;
    text-align: center;
    margin-right: var(--item-gap);
    margin-bottom: var(--item-gap);
    margin-left: var(--item-gap);
    padding: var(--list-item-padding);
    background-color: var(--white-color);
    width: var(--list-item-width);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-repeat: var(--background-repeat);
    background-position: center 40px;

    @include respond(tablet) {
      margin-left: 0;
    }

    // modificators - icons
    &--shipping {
      background-image: url('../img/svg/10.svg');
      background-size: 64px 40px;
    }
    &--discount {
      background-image: url('../img/svg/20.svg');
      background-size: 64px 53px;
    }
    &--reclamation {
      background-image: url('../img/svg/30.svg');
      background-size: 54px 64px;
    }
    &--queue {
      background-image: url('../img/svg/40.svg');
      background-size: 64px 43px;
    }
    &--assistant {
      background-image: url('../img/svg/50.svg');
      background-size: 44px 64px;
    }
    &--homebox {
      background-image: url('../img/svg/60.svg');
      background-size: 50px 54px;
    }
    &--blackfriday {
      background-image: url('../img/svg/70.svg');
      background-size: 54px 54px;
    }
    &--customer {
      background-image: url('../img/svg/80.svg');
      background-size: 64px 53px;
    }
    &--price {
      background-image: url('../img/svg/90.svg');
      background-size: 64px 57px;
    }
    &--news {
      background-image: url('../img/svg/100.svg');
      background-size: 64px 57px;
    }
    &--magazines {
      background-image: url('../img/svg/110.svg');
      background-size: 64px 52px;
    }
  }

  // ul - lp__section-three
  &__list-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--item-gap);
  }

  // li - lp__section-three
  &__list-2-item {
    list-style: none;
    flex-basis: 50%;
    padding-top: 45px;
    background-position: top;
    background-repeat: var(--background-repeat);
    flex-basis: calc(50% - var(--item-gap));
    margin: calc(.5*var(--item-gap));
    background-size: 32px;

    @include respond(tablet) {
      margin: var(--item-gap);
      padding-top: 60px;
      background-size: 48px;
      flex-basis: 40%;
    }

    @include respond(desktop) {
      padding-top: 70px;
      background-size: 54px;
      flex-basis: calc(25% - 2*var(--item-gap));
    }

    // modificators - icons
    &--savings {
      background-image: url('../img/svg/savings.svg');
    }
    &--actions {
      background-image: url('../img/svg/actions.svg');
    }
    &--products {
      background-image: url('../img/svg/products.svg');
    }
    &--time {
      background-image: url('../img/svg/time.svg');
    }

    p {
      margin-top: 0;
    }
  }

  // columns
  &__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--item-gap);

    p {
      margin: 0;
      line-height: 1.5;
      @include respond(tablet) {
        line-height: 2;
      }
    }
  }

  &__column-item {
    margin-bottom: calc(2*var(--item-gap));
    text-align: center;
    position: relative;

    @include respond(tablet) {
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      flex-basis: 22%;
      background-color: var(--white-color);
      margin-top: var(--item-gap);
    }

    @include respond(desktop) {
      max-width: 250px;
    }

    &:not(:last-child) {
      @include respond(tablet) {
        margin-right: var(--item-gap);
      }
    }

    // modificators
    &--badge {
      position: relative;

      @include respond(tablet) {
        margin-top: 0;
        padding-top: var(--item-gap);
      }

      @include respond(desktop) {
        overflow: hidden;
      }
    }

    &--legend {
      border-radius: 0;
      box-shadow: none;
      line-height: 2.73;
      flex-basis: 100%;
      max-width: 330px;

      @include respond(tablet) {
        flex-basis: 25%;
        max-width: 22%;
        margin-right: var(--item-gap);
        padding-top: 55px;
        background-color: transparent;
        position: relative;
      }

      @include respond(desktop) {
        flex-basis: 33%;
      }
      a:not(.btn) {
        color: var(--black-color);
        text-decoration-color: var(--gray-color);
        text-decoration-style: dotted;
        &:hover {
          text-decoration-style: solid;
        }
      }
    }

    // button
    .lp__btn {
      margin: var(--item-gap);
      font-size: 1rem;
    }
  }

  &__column-legend-list-item {
    text-align: left;
    list-style: none;

    @include respond(tablet) {
      text-align: right;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__column-item-footer {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    padding: 10px;

    @include respond(desktop) {
      padding: 0 10px;
    }
  }

  &__column-item-badge {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 4px;
    width: 100%;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(194,38,39,1) 0%, rgba(236,71,71,1) 100%);
    font-size: .75rem;
    color: var(--white-color);
    box-shadow: var(--box-shadow);
    line-height: 2;
    margin-bottom: var(--item-gap);

    @include respond(tablet) {
      position: absolute;
      top: -10px;
      right: 0;
      line-height: 1.2;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    @include respond(desktop) {
      width: 200px;
      height: 90px;
      top: -30px;
      right: -90px;
      transform: rotate(45deg);
    }
    strong {
      font-size: .85rem;
      margin-bottom: 0;
    }
  }

  // check state icons
  &__checks {
    display: flex;
    flex-direction: column;
  }
  &__check-item {
    display: inline-block;
    background-image: url('../img/svg/circle-check.svg');
    background-repeat: var(--background-repeat);
    background-position: center;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    float: right;

    @include respond(tablet) {
      height: 38px;
      width: 100%;
      margin-left: 0;
      float: none; // reset
      background-color: var(--gray-color-lighter);
    }

    &:nth-child(2n) {
      @include respond(tablet) {
        background-color: var(--white-color);
      }
    }
    //modificator - icon not checked
    &--unchecked {
      background-image: url('../img/svg/circle-unchecked.svg');
    }
  }

  // switcher
  &__switcher {
    background-color: var(--white-color);
    padding: 10px 2px;
    border-radius: 100px;
  }

  &__switcher-link {
    color: var(--gray-color-light);
    padding: 10px;
    text-decoration: none;
    &:hover:not(.is-active) {
      text-decoration: underline;
    }
    &:first-child {
      margin-right: 5px;
    }
  }

  // switcher - active link
  &__switcher-link.is-active {
    border-radius: 100px;
    cursor: default;
    background: linear-gradient(#545454, #000000);
  }

  // total savings
  &__amount {
    margin-top: 30px;
  }

  // social networks
  &__social-item {
    display: inline-block;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    transition: var(--button-transition);
    box-shadow: var(--box-shadow);
    &:hover {
      transform: scale(1.15);
    }

    // modificators
    &--fb {
      background-color: #4267b2;
      background-image: url('../img/svg/social-facebook.svg');
    }
    &--tw {
      background-color: #1da1f2;
      background-image: url('../img/svg/social-twitter.svg');
    }
    &--mail {
      background-color: #a1c900;
      background-image: url('../img/svg/social-mail.svg');
    }
    &--linked {
      background-color: #0e76a8;
      background-image: url('../img/svg/social-linked-in.svg');
    }
  }

  // sections
  &__section-one {
    padding: var(--item-gap);
    background-image: url('../img/png/main_bg.png');
    position: relative;

    @include respond(tablet) {
      padding: 85px 85px 35px 85px;
    }

    // retina img
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../img/png/main_bg@2x.png');
    }

    // triangle shaped symbol
    &::after {
      content: '';
      position: relative;
      bottom: -40px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid var(--red-color);

      @include respond(tablet) {
        bottom: -55px;
      }
    }

    .btn {
      margin: var(--item-gap) 0;
      @include respond(desktop) {
        margin: 20px 0;
      }
    }

    picture {
      @include respond(desktop) {
        position: absolute;
        right: 0;
        bottom: -5px;
      }
    }

    p {
      position: relative;
    }
  }

  &__section-one-wrapper {
    background-size: 200px;
    background-repeat: var(--background-repeat);
    background-position: bottom right;
    background-image: url('../img/png/women-ap.png');

    @include respond(tablet) {
      background-size: 400px;
    }
    @include respond(tablet) {
      background-size: 600px;
    }

    // retina img
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../img/png/women-ap@2x.png');
    }
  }

  &__section-two p {
    color: var(--gray-color);
  }

  &__section-three {
    background-image: url('../img/png/bg_vyhody.png');

    // retina img
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../img/png/bg_vyhody@2x.png');
    }
  }

  &__section-four {
    a:not(.btn) {
      color: var(--black-color) !important;
    }
  }

  &__section-five {
    background-image: url('../img/png/footer.png');
    position: relative;

    // retina img
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../img/png/footer@2x.png');
    }

    picture {
      width: 150px;
      @include respond(desktop) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  // selected sections rules
  &__section-one,
  &__section-three,
  &__section-five {
    color: var(--white-color);
    background-position: var(--background-position-size);
    background-size: var(--background-position-size);
    background-repeat: var(--background-repeat);
    background-color: var(--red-color);
  }
}
