html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  @include respond(tablet) {
    width: auto;
  }
}

ul {
  margin: 0; //reset
  padding: 0;  //reset
}

a:not(.btn):not(.lp__switcher-link):not(.lp__section-four) {
  &:hover {
    color: var(--almost-white-color);
    text-decoration: none;
  }
}


// general section rules
.section-area {
  padding: var(--item-gap);
  @include respond(tablet) {
    padding: calc(2*var(--item-gap));
  }
}

// button
.btn {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  color: var(--white-color);
  box-shadow: var(--button-shadow);
  transition: var(--button-transition);
  background-color: var(--green-color);
  display: inline-block;
  margin: 5px 0;
  text-decoration: none;

  &:hover {
    background-color: var(--green-color-darker);
    box-shadow: none;
  }

}

// helpers
.center {
  display: flex;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.color-pink {
  color: var(--pink-color);
}

.ml {
  margin-left: 60px;
}

.mt {
  margin-top: 60px;
  @include respond(desktop) {
    margin-top: 68px;
  }
}

.color-red-light {
  color: var(--red-light-color);
}

.color-black {
  color: var(--black-color);
}

.visible-on-mobile-only {
  @include respond(tablet) {
    display: none !important;
  }
}

.hidden-on-mobile {
  @include respond(mobile-only) {
    display: none !important;
  }
}


// animation
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
  }
  90% {
      -webkit-box-shadow: 0 0 0 20px rgba(0,0,0,0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
}

.animation-pulse {
  border-radius: 100px;
  box-shadow: 0 0 0 rgba(0,0,0,0.15);
  animation: pulse 2s infinite;
}
