// general
html {
  line-height: 1.45;
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  font-size: 14px;
  font-size: 0.875rem;
}

// headings
h1 {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  @include respond(tablet) {
    font-size: 2rem;
  }
  @include respond(desktop) {
    font-size: 2.5rem;
  }
  strong {
    font-size: bold;
  }
}

h2 {
  font-family: 'Poppins', Arial, sans-serif;
  text-align: center;
  font-size: 1.25rem;
  @include respond(tablet) {
    font-size: 1.5rem;
  }
  @include respond(desktop) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1rem;
}


// various
.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

.btn-small {
  font-size: .85rem;
  @include respond(desktop) {
    font-size: 1rem;
  }
}

.lp__list-2-item-header {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 1rem;
  @include respond(desktop) {
    font-size: 1.25rem;
  }

  strong {
    font-weight: bold;
    font-size: 1.5rem;
    @include respond(desktop) {
      font-size: 2.5rem;
    }
  }
}

.lp__amount {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;

  @include respond(tablet) {
    font-size: 2rem;
  }

  @include respond(desktop) {
    font-size: 3.75rem;
  }
}
