// variables

:root {
  // colors
  --white-color: #ffffff;
  --almost-white-color: #f4f5f5;
  --gray-color-lighter: #f9f9f9;
  --gray-color-light: #a4a4a4;
  --gray-color: #535252;
  --black-color: #000000;
  --red-light-color: #e9242e;
  --red-color: #b51f1f;
  --pink-color: #ff7d7d;
  --green-color: #a1C900;
  --green-color-darker: #91b500;

  // dimensions
  --page-min-width: 320px;
  --page-max-width: 1255px;
  --border-radius: 4px;

  // li
  --list-item-padding: 100px 20px 20px 20px;
  --list-item-width: 216px;

  // button
  --button-padding: 16px 40px;
  --button-transition: all 150ms;
  --button-shadow: 0 1px 4px rgba(0,0,0,0.275);

  // background
  --background-position-size: cover;
  --background-repeat: no-repeat;

  // various
  --item-gap: 20px;
  --box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}
